{% extends "main_container.html" %}
{% set active_page = 'index' -%}

{% block content %}
<div id="content_box">

<h1>Croeso and Welcome to CrossHands</h1>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div id="map_canvas" style="width: 500px; height: 500px; float: left;"></div>
<script type="text/javascript" src="/js/xMap.js"></script>

<div id="index_tag_box">
{% for tag in tags %}
<a href="/tag/{{ tag.tag }}/" style="font-size: {{ tag.size }}pt;">{{ tag.tag }}</a>
{% endfor %}
</div>


</div>
{% endblock content %}