{% extends "main_container.html" %}
{% set active_page = 'map' -%}
{% block content %}
<div id="content_box">


<ul id="map_zones">
	<li style="border-color: white"><label><input type="checkbox" 
			onclick="mapWidget.toggle_polys(this);" checked>Show Areas</label></li>
	<li style="border-color: #FDF434">Business Park</li>
	<li style="border-color: #5F5FF8">Food Park</li>
	<li style="border-color: #62E896">Small Park</li>
	<li style="border-color: #F85FD0">Town Center</li>
</ul>


<div id="map_canvas" style="width: 100%; height: 700px; background-color: #efefef; border: 1px solid #cccccc; margin-top: 5px;"></div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/xMap.1.js"></script>
<script>

var mapWidget = new xMap();
mapWidget.init();
mapWidget.load_polys();


</script>

</div>
{% endblock content %}